{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luminara Tasks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="{% static 'To_do_icon.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main-block.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>